/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=EB+Garamond&display=swap');

body {
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: black;
    padding: 20px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensures it's above other elements */
}
h1 {
    margin: 0;
}

.nav-buttons {
    background-color: black;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 15px;
    position: sticky;
    top: 87px; /* Adjust this based on header height */
    z-index: 999; /* Ensures it's above content but below header */
}

.nav-button {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    font-family: 'EB Garamond', serif;
}

.nav-button:hover {
    background-color: gray;
    border-radius: 5px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: white;
    color: black;
    max-width: 100%;
    margin: auto;
}

.content {
    flex: 0.6;
    text-align: justify;
    margin-top: -40px;
    padding: 20px;
    width: 50%;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    margin: 0 auto 0 3%;
}

h2.center {
    text-align: center;
}

h2 {
    text-align: left;
}


aside {
    flex: 0.3;
    text-align: center;
}

aside img {
    width: 80%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
    max-width: 100%;
    border-radius: 5px;
}

.nav-button:hover,
.active {
    background-color: #777;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.wide {
    grid-column: span 2; /* Make this image take up two columns */
}

@media (max-width: 600px) {
    .gallery-container {
        grid-template-columns: 1fr;
    }
}

ul li {
    margin-bottom: 15px; /* Adds space between each list item */
    line-height: 1.6; /* Increases line height for better readability */
}

